@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.card {
  background-color: #f9fafb;
  border: solid 1px #e0e0e0;
  color: #263238;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100px;
  border-radius: 4px;
  animation: fade-in-from-top 1s;
}

.card__info {
  width: 220px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
}

.card__name {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevent line break */
}

.card__category {
  height: 18px;
  font-size: 14px;
  color: #78909c; /* Lighter color for categories */
}

.card__desc {
  font-size: 14px;
  color: #607d8b; /* A bit lighter for description */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevent line break */
}

.card__image {
  border: solid 1px black;
  border-radius: 2px;
}
