.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
}

.main {
  position: fixed;
  background: white;
  width: 500px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 40px 0;
}

.main h1 {
  text-align: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 30px;
}

.stats-list {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.stats-container {
  background-color: #1565c0;
  color: white;
  padding: 1vw;
  border-radius: 10px;
  display: flex;
  gap: 1vw;
  align-items: center;
}

.edit-button {
  padding: 5px;
  border-radius: 10%;
  border: none;
  background-color: rgb(17, 24, 63);
  text-transform: capitalize;
  color: #fff;
}

.delete-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 30px;
  color: red;
  display: flex;
  align-items: center;
}

.add-button {
  margin-top: 3vh;
  padding: 5px;
  border-radius: 10%;
  border: none;
  background-color: green;
  color: #fff;
}

@media screen and (max-width: 520px) {
  .main {
    width: 90vw;
  }
}
