.container {
  display: flex;
  column-gap: 10px;
  margin: auto;
}

.container__left {
  height: auto;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container__left > * {
  max-width: 100%; /* Ensures full width */
  overflow-y: auto; /* Scroll if content exceeds max height */
}

.container__right {
  height: 600px;
}

@media (max-width: 840px) {
  .container {
    flex-direction: column;
    margin: 20px auto;
    height: 100vh;
    overflow-y: auto;
  }

  .container__left {
    margin-bottom: 20px;
  }

  .container__left > * {
    max-height: 300px; /* ✅ Restore max-height */
    overflow-y: auto; /* Scroll if content exceeds max height */
  }

  .container__right {
    height: 300px;
  }
}

@media (max-width: 420px) {
  .container__left > * {
    width: 340px;
    margin: auto;
  }

  .container__right > * {
    width: 340px;
  }
}
