@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.selected {
  width: 400px;
  height: 180px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 12px 0;
  border-radius: 6px;
}

.selected__button {
  height: 30px;
  width: 40px;
}

.selected__error {
  color: red;
  animation: fade-in-from-top 0.5s;
}

.card {
  animation: fade-in-from-top 0.5s;
}
