.container {
  display: grid;
  margin: auto;
  align-items: center;
  grid-template-columns: 380px 320px;
  gap: 2vw;
}

.stats-container {
  width: 100%;
  height: 280px;
  border-radius: 6px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 730px) {
  .container {
    margin: 2vh auto;
    grid-template-columns: 380px;
  }
}

@media screen and (max-width: 410px) {
  .container {
    margin: 2vh auto;
    grid-template-columns: 95vw;
  }
}
