.dashboard {
  margin: 2vh auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 400px 400px;
  row-gap: 2vw;
  column-gap: 2vw;
}

@media screen and (max-width: 830px) {
  .dashboard {
    grid-template-rows: auto;
    grid-template-columns: 400px;
    grid-template-areas: '1', '2', '3', '4';
  }

  .item-1 {
    grid-area: 1;
  }

  .item-2 {
    grid-area: 3;
  }

  .item-3 {
    grid-area: 2;
  }

  .item-4 {
    grid-area: 4;
  }
}

@media screen and (max-width: 410px) {
  .dashboard {
    grid-template-rows: auto;
    grid-template-columns: 95vw;
    grid-template-areas: '1', '2', '3', '4';
  }
}
